<ion-header>
  <ion-toolbar>
    <ion-title>create-group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onCreateGroup(form)">
    <ion-item>
      <ion-input placeholder="Group Name" type="text" name="groupName" [(ngModel)]="newGroup.groupName"></ion-input>
    </ion-item>

    <br>
    <ion-button type="submit" block shape="round">Create Group
      <ion-icon slot="start" name="create"></ion-icon>
    </ion-button>
    <!-- Once basic functionality is working, think about adding more options such as setting a group size or setting privileges -->
  </form>
</ion-content>
