<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>All Users</ion-list-header>
    <!-- Displays all users contained inside the user array -->
    <ion-item *ngFor = "let u of users" #slidingItem>
      <ion-avatar slot="start">
        <img src="{{ u.profileImage }}">
      </ion-avatar>
      <ion-label>
        <!-- Displays the user's username, first name, and last name -->
        <h2><b>{{ u.username }}</b></h2>
        <p>{{ u.firstName}} {{ u.lastName }}</p>
      </ion-label>

      <ion-button (click)="viewUser(u.email)" shape="round" side="end">View User
        <ion-icon slot="start" name="contact"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
