<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>All Users</ion-list-header>
    <ion-item *ngFor = "let u of users" #slidingItem>
      <ion-avatar slot="start">
        <img src="{{ u.profileImage }}">
      </ion-avatar>
      <ion-label>
        <h3>{{ u.username }}</h3>
        <br>
        <p>{{ u.firstName}} {{ u.lastName }}</p>
      </ion-label>

      <ion-button (click)="viewUser(u.username)" shape="round" side="end">View User Profile
        <ion-icon slot="start" name="viewUser"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
