<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <form #form="ngForm" (ngSubmit)="onLogin(form)">
      <ion-item>
        <ion-input placeholder="Enter your username" type="text" name="username" [(ngModel)]="users.username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter your password" type="password" name="password" [(ngModel)]="users.password"></ion-input>
      </ion-item>

      <ion-button type="submit" block shape="round">Login
        <ion-icon slot="start" name="log-in"></ion-icon>
      </ion-button>
    </form>

    <br>Don't have an account?<br>
    <ion-button [routerLink]="['/register']" shape="round"> Register
      <ion-icon slot="start" name="send"></ion-icon>
    </ion-button>
</ion-content>
