<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <form #form="ngForm" (ngSubmit)="onLogin(form)">
      <ion-item>
        <ion-input placeholder="Enter your email" type="text" name="email" [(ngModel)]="users.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter your password" type="password" name="password" [(ngModel)]="users.password"></ion-input>
      </ion-item>

      <ion-button type="submit" block shape="round">Login
        <ion-icon slot="start" name="log-in"></ion-icon>
      </ion-button>
    </form>

    <!-- <div>{{loginError}}</div> -->

    <br>Don't have an account?<br>
    <ion-button [routerLink]="['/register']" shape="round" fill=outline> Register
      <ion-icon slot="start" name="send"></ion-icon>
    </ion-button>

    <br><br>Forgot your password?<br>
    <ion-button [routerLink]="['/reset-password']" shape="round" fill=outline> Reset
      <ion-icon slot="start" name="md-refresh"></ion-icon>
    </ion-button>
</ion-content>
