<!-- Header content -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Update Note
    </ion-title>
    <ion-buttons slot="end"><ion-icon name="more"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Custom created Quill text editor to remove unnecessary options  -->
  <quill-editor [(ngModel)]="textModel" [sanitize]="true">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <select class="ql-font">
          <option selected></option>
          <option value="serif"></option>
          <option value="monospace"></option>
        </select>
        <select class="ql-size">
          <option value="small"></option>
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
      </span>
      
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <select class="ql-align">
          <option selected></option>
          <option value="center"></option>
          <option value="right"></option>
          <option value="justify"></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
        <button class="ql-clean"></button>
      </span>
    </div>
  </quill-editor>

</ion-content>

<!-- Footer Content -->
<ion-footer>
  <ion-item>
    <ion-label position="floating">File Name</ion-label>
    <ion-input [(ngModel)]="fileName"></ion-input>
  </ion-item> <br>

  <ion-button (click)="updateAddNote()" shape="round"> Add Note
    <ion-icon slot="start" name="add-circle"></ion-icon>
  </ion-button>
</ion-footer>

