<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Group Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-left>
  <ion-item *ngFor = "let c of chats">
    <ion-label>
      <h3>{{ c.post }}</h3>
    </ion-label>
  </ion-item>
  
  <div class="bottomFixed">
      <form #form="ngForm" (ngSubmit)="onSendChat(form)">
        <ion-item>
          <ion-input placeholder="Say something" type="text" name="post" required=true [(ngModel)]="post"></ion-input>
        </ion-item>
        
        <ion-button type="submit" block shape="round" [disabled]="!form.valid">Send Chat
          <ion-icon slot="start" name="send"></ion-icon>
        </ion-button>
      </form>

  </div>
</ion-content>
