<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Group Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-left>
  <ion-item *ngFor = "let c of chats">
    <ion-label>
      <h2><b>{{ c.post }}</b></h2>
      <p>Username: {{c.username}}</p>
      <p>Time: {{c.dateTime}}</p>
    </ion-label>
  </ion-item>
  
  <div class="bottomFixed">
      

  </div>
</ion-content>

<!-- Footer Content -->
<ion-footer padding>
  <form #form="ngForm" (ngSubmit)="onSendChat(form)">
    <ion-item>
      <ion-input placeholder="Say something" type="text" name="post" required=true [(ngModel)]="post"></ion-input>
    </ion-item>
    
    <ion-button type="submit" block shape="round" slot="end" [disabled]="!form.valid">Send
      <ion-icon slot="start" name="send"></ion-icon>
    </ion-button>
  </form>
</ion-footer>


