<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Group Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="bottomFixed">
  <ion-content padding center text-left>
    <form #form="ngForm" (ngSubmit)="onSendChat(form)">
      <ion-item>
        <ion-input placeholder="Say something" type="text" name="post" required=true [(ngModel)]="groupchat.post"></ion-input>
      </ion-item>
    </form>
  </ion-content>
</div>
