<!-- Header content -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      {{ groupName }}
    </ion-title>
    <ion-buttons slot="end" padding style="height:40px;" [routerLink]="['/groupchat', groupId]">
      <ion-icon name="chatboxes"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of all groups -->
  <div class="scrolling-wrapper">
    <div *ngFor = "let i of groups" class="card" (click)="loadGroup(i.groupId, i.groupName)">
      <ion-card>
        <img src="{{i.profileImage}}" style="width:100%; height:60px;">
        <ion-card-header>
          <ion-card-title class="center">{{i.groupName}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <!-- Segment header which allows the user to switch between files and notes -->
    <ion-segment [(ngModel)]="selection">
      <ion-segment-button value=1>
         NOTES
      </ion-segment-button>
      <ion-segment-button value=2>
        FILES
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Searchbar with a custom debounce -->
  <br>
  <ion-searchbar debounce="600" animated placeholder="Search" showCancelButton autocomplete
    [(ngModel)]="searchWord" (ionChange)="filteredNotes()" *ngIf="selection==1" (ionCancel)="onCancelNotes()"></ion-searchbar>

  <!-- NOTES -->
  <ion-list *ngIf="selection==1">
      <ion-item-sliding *ngFor = "let n of notes" #slidingItem>
        <ion-item>
          <ion-avatar slot="start">
              <img src="https://github.com/MatthewSloyan/IT-Professional-Skills-Group-Project/blob/master/Images/noteIcon.jpg?raw=true">
          </ion-avatar>
          <ion-label>
            <h2><b>{{n.fileName}}</b></h2>
            <p>{{n.dateTime}}</p>
          </ion-label>
        </ion-item> 
  
        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="closeSlider(slidingItem)" [routerLink]="['/update-note', n._id]" class="center">
            <ion-icon name="brush"></ion-icon>
              &nbsp; Edit
          </ion-item-option>
        </ion-item-options>
          
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteNote(slidingItem, n._id)">
            <ion-icon name="trash"></ion-icon>
              &nbsp; Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  <!-- Searchbar with a custom debounce -->
  <ion-searchbar debounce="600" animated placeholder="Search" showCancelButton autocomplete
    [(ngModel)]="searchWord" (ionChange)="filteredFiles()" *ngIf="selection==2" (ionCancel)="onCancelFiles()"></ion-searchbar>
    
  <!-- FILES -->
  <ion-list *ngIf="selection==2">
    <ion-item-sliding *ngFor = "let f of files; index as i" #slidingItem>
      <ion-item>
        <ion-avatar slot="start">
            <img src="{{fileImage[i]}}">
        </ion-avatar>
        <ion-label>
          <h2><b>{{f.fileName}}</b></h2>
          <p>{{f.type}}</p>
        </ion-label>
      </ion-item> 

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="closeSlider(slidingItem)" (click)="downloadFile(f.url, f.type, f.fileName)">
          <ion-icon name="download"></ion-icon>
          &nbsp; Download
          <a id="link" href={{f.url}} download hidden></a>
        </ion-item-option>
      </ion-item-options>
      
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="deleteFile(slidingItem, f)">
          <ion-icon name="trash"></ion-icon>
            &nbsp; Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <!--Test image from camera-->
  <!-- <img src={{base64Image}} *ngIf="base64Image"/> -->

  <input hidden type="file" id="myFile" name="fileUpload" (change)="changeListener($event)">
<!-- 
  <form action="/profile" method="post" enctype="multipart/form-data" id="myFile">
    <input hidden type="file" name="myFile" id="myFileClick" (change)="changeListener($event)"/>
  </form>
  <button hidden type="submit" form="myFile" value="Submit" id="fileButton"></button> -->
</ion-content>

<!-- Footer Content -->
<ion-footer>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>

