<!--  -->

<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <!-- <ion-toolbar color = "primary">
          <ion-title color = "light">Menu</ion-title>
        </ion-toolbar> -->
      </ion-header>
      <ion-content class="my-menu">
        <div style="text-align: center; color: #ffffff;">
            <br>
            <img src="{{ profileImage }}" style="border-radius:50%; width:40%;"/>
            <br>
            <h3>{{ user }}</h3>
        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <br>
        <ion-button shape="round" (click)="onLogout()" menuClose="left" fill="outline" color="light"> Logout
          <ion-icon slot="start" name="log-out"></ion-icon>
        </ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
