<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color = "light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      All Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar debounce="600" animated placeholder="Search" showCancelButton autocomplete
    [(ngModel)]="searchWord" (ionChange)="filteredGroups()" (ionCancel)="onCancelGroups()"></ion-searchbar>
    
    <ion-list-header>Groups</ion-list-header>
    <ion-list>
        <ion-item *ngFor = "let g of groups; index as i">
          <ion-avatar slot="start">
              <img src="{{ g.profileImage }}">
          </ion-avatar>
          <ion-label>
            <h2><b>{{ g.groupName }}</b></h2>
            <p>Number of Members: {{ g.groupMembers?.length }}</p>
          </ion-label>

          <ion-button [routerLink]="['/view-group', g.groupId]" shape="round" side="end">View
            <ion-icon slot="start" name="eye"></ion-icon>
          </ion-button>

          <ion-button (click)="joinGroup(g)" shape="round" side="end" colour="secondary">Join
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          </ion-button>

          <!-- <ion-button [routerLink]="['/groupchat']" shape="round" side="end">Chat
            <ion-icon slot="start" name="chatboxes"></ion-icon>
          </ion-button> -->
        </ion-item> 
    </ion-list>
</ion-content>

<ion-footer padding>
  <ion-button [routerLink]="['/newgroup']" shape="round">Create
    <ion-icon slot="start" name="md-add"></ion-icon>
  </ion-button>
</ion-footer>
