<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <!-- <form submit="onAddUser(postForm)" #postForm="ngForm"> -->
  <form submit="logForm(postForm)" #postForm="ngForm">
    <ion-item>
      <ion-input placeholder="Username" type="text" name="username" [(ngModel)]="users.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Re-enter Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="First name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Last name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Profile picture"></ion-input>
    </ion-item>

    <button ion-button type="submit" block>Register</button>
    <br>
    Already have an account?<button ion-button full color="light" click="loginPageNav()">Sign in</button>
  </form>
</ion-content>
