<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <form #form="ngForm" (ngSubmit)="onReset(form)">
      <ion-item>
        <ion-input placeholder="Enter your email" type="text" name="email"  required=true [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-button type="submit" block shape="round" [disabled]="!form.valid">Reset
        <ion-icon slot="start" name="md-refresh"></ion-icon>
      </ion-button>
    </form>
</ion-content>